<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <appSettings>
    <add key="UsingNamespaceForRights" value="True"/>
  </appSettings>

  <connectionStrings>
    <add name="DefConnStr" connectionString="SERVER=isogd3;Trusted_connection=no;DATABASE=isogd;uid=ISOGD_USER;pwd=Is0gd_User;"/>    
    <add name="GDB" connectionString="Host=10.130.5.56;Port=5432;Database=isogd_gdb;User ID=isogd_developer;Password=I$0gd_dev3l0per;"/>
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <assembly name="NewPlatform.Flexberry.GIS.DataLinks"/>
    <container>

      <register name="ChainHelper" type="NewPlatform.Flexberry.GIS.TriggerGenerator.DataBaseHelper"
        mapTo="NewPlatform.Flexberry.GIS.TriggerGenerator.SQLDataBaseHelper">
        <constructor>
          <param name="spatialIdField" type="System.String" value="primarykey"/>
        </constructor>
      </register>

      <register name="DataBaseHelper" type="NewPlatform.Flexberry.GIS.TriggerGenerator.DataBaseHelper"
        mapTo="NewPlatform.Flexberry.GIS.TriggerGenerator.SQLDataBaseHelper">
        <constructor>
          <param name="spatialIdField" type="System.String" value="primarykey"/>
        </constructor>
      </register>

      <register type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>

      <register name="AttributiveDS" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>

      <register name="SpatialDS" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="GDB"/>
      </register>

      <register name="AttributiveTriggerGenerator" type="NewPlatform.Flexberry.GIS.TriggerGenerator.ITriggerGenerator"
        mapTo="NewPlatform.Flexberry.GIS.TriggerGenerator.SimpleAttributiveTriggerGenerator">
        <constructor>
          <param name="triggerPrefix" type="System.String" value="isogd"/>
        </constructor>
      </register>
      
      <register name="SpatialTriggerGenerator" type="NewPlatform.Flexberry.GIS.TriggerGenerator.ITriggerGenerator"
        mapTo="NewPlatform.Flexberry.GIS.TriggerGenerator.SimpleSpatialTriggerGenerator">
        <constructor>
          <param name="triggerPrefix" type="System.String" value="isogd"/>
        </constructor>
      </register>
      <!-- Конфигурация сервиса кеширования. -->
      <register type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <constructor>
          <param name="cacheName" type="System.String" value="defaultCacheForApplication"/>
        </constructor>
      </register>
      <!-- Конфигурация системы полномочий. -->
      <register name="dataServiceForAuditAgentManagerAdapter" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>
      <register name="dataServiceForSecurityManager" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService">
        <constructor>
          <param name="securityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject">
            <dependency name="securityManagerWithoutRightsCheck"/>
          </param>
        </constructor>
        <property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr"/>
      </register>
      <register name="cacheServiceForSecurityManager" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <constructor>
          <param name="cacheName" type="System.String" value="cacheForSecurityManager"/>
        </constructor>
      </register>
      <register name="cacheServiceForAgentManager" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching"
        mapTo="NewPlatform.Flexberry.Caching.MemoryCacheService, NewPlatform.Flexberry.Caching">
        <constructor>
          <param name="cacheName" type="System.String" value="cacheForAgentManager"/>
        </constructor>
      </register>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject"
        mapTo="NewPlatform.Flexberry.Security.SecurityManager, NewPlatform.Flexberry.Security">
        <constructor>
          <param name="dataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business">
            <dependency name="dataServiceForSecurityManager"/>
          </param>
          <param name="cacheService" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching">
            <dependency name="cacheServiceForSecurityManager"/>
          </param>
          <param name="enabled" type="System.Boolean" value="true"/>
          <param name="useRightsOnObjects" type="System.Boolean" value="false"/>
          <param name="useRightsOnAttribute" type="System.Boolean" value="false"/>
        </constructor>
      </register>
      <register type="NewPlatform.Flexberry.Security.IAgentManager, NewPlatform.Flexberry.Security"
        mapTo="NewPlatform.Flexberry.Security.AgentManager, NewPlatform.Flexberry.Security">
        <constructor>
          <param name="dataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business">
            <dependency name="dataServiceForSecurityManager"/>
          </param>
          <param name="cacheService" type="NewPlatform.Flexberry.Caching.ICacheService, NewPlatform.Flexberry.Caching">
            <dependency name="cacheServiceForAgentManager"/>
          </param>
        </constructor>
      </register>
      <register type="NewPlatform.Flexberry.Security.IPasswordHasher, NewPlatform.Flexberry.Security"
        mapTo="NewPlatform.Flexberry.Security.Sha1PasswordHasher, NewPlatform.Flexberry.Security">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
      <register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business"
        mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
    </container>
  </unity>
</configuration>